{% extends "home-page.html"%}
{% block content %}
<style>
.navbar-nav
{
  align-items:center;
}
.navbar.navbar-dark form .md-form input
{
  text-align:left;
}
.mr-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.naslov
{
  font-weight:800;
}
.dropdown-menu
{
  
  left:1;
}
.dropdown-toggle::after
{
  display:none;
}
</style>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark primary-color pb-2 pt-2 ">
<ul class="navbar-nav mr-auto" >
    <li> <a class="navbar-brand" href="#" id="naslov" style="font-size: 25px; padding:0px; font-weight:300;">Ugovori</a></li></li>
        </ul>
         <ul class="navbar-nav nav-flex-icons">
      <!-- Basic dropdown -->
   <li class="nav-item">   
    <a class="dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" style="color:white;">Pretraži<i class="fas fa-search ml-2"></i></a> 
    <form class="animated fadeIn dropdown-menu " style="right:0;left:auto;background-color:rgba(66,133,244, 1);padding:10px;border:0px;" action="Ugovori" method="post">
      {% csrf_token %}
      {% comment %} <select class="dropdown-item browser-default custom-select mb-5" data-toggle="dropdown" type="button"  aria-haspopup="true"
      aria-expanded="false" style="opacity:0.3;">
      <option class="dropdown-item" selected> Tip plaćanja</option>
      <option class="dropdown-item" value="Kartica"> Kartica</option>
      <option class="dropdown-item" value="Paypal"> Paypal</option>
      <option class="dropdown-item" value="Master"> Master</option>

      </select> {% endcomment %}
      
      <div>
      <div class="md-form">
       <input style="color:black;"  id="inputMDEx" class="form-control" type="text" placeholder="Naziv artikla" name="naziv_artikal">
      
      </div>
      </div>
      <div id="ugovor-info">
      <div class="mr-2">
      <label style="color:white">Datum od</label>
      <input class="form-control mb-4" id="defaultLoginFormPassword"  type="date" placeholder="Naziv artikla" name="cijena_od" style="opacity:0.3;">
      </div>
      <div>
      <label for="defaultLoginFormPassword" style="color:white">Datum do</label>
      <input class="form-control mb-4" id="defaultLoginFormPassword" type="date"  placeholder="Naziv artikla" name="cijena_do" style="opacity:0.3;">
      
      </div>
      </div>
 
      
      
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="submit" style="color:green;">Traži</button>
    </form> 
 </li>  
<!-- Basic dropdown -->
<li>
         {% comment %} <form method="post" id="forma" action="Izlazni" class="form-inline" >
          {% csrf_token %}
            <div class="md-form my-0">
               
                <input class="form-control mb-4" id="defaultLoginFormPassword" type="text" placeholder="Naziv partnera" name="naziv_partner">
            </div>
        </form>  {% endcomment %}
    </div>
     </li>
        </ul>
</nav>

 

</nav>
<!--/.Navbar-->
<!--Table-->
<table id="tablePreview" class="table table-bordered animated fadeIn">
<!--Table head-->
  <thead>
  <tr>
    <th rowspan="2" style="font-size: large; padding:0px; font-weight:400;">Redni broj</th>
      <th colspan="3" style="font-size: 24px; padding:0px; font-weight:500;">Ugovor</th>
      <th colspan="2" style="font-size: 24px; padding:0px; font-weight:500;">Partner</th>
      <th rowspan="2" style="font-size: large; padding:0px; font-weight:400;">Sadržaj ugovora</th>
      <th rowspan="2" style="font-size: large; padding:0px; font-weight:400;">Tip</th>
      <th rowspan="2" style="font-size: large; padding:0px; font-weight:400;">Napomena</th>
  </tr>
    <tr id="drugiRed">
      
      <th>Broj</th>
      <th>Datum <br>potpisivanja</th>
      <th>Važi do:</th>
      <th>Naziv</th>
      <th>Porezni broj</th>
    </tr>
  </thead>
  
  <tbody>
  {% if racun_trazeni %}
  {% for artikal in racun_trazeni %}
  <tr style="background-color:rgba(139, 240, 193, 0.5);" class="animated fadeIn">
      <th scope="row">Traženi račun: {{forloop.counter}}</th>
      <td>{{artikal.id}}</td>
      <td>{{artikal.datum_potpisivanja}}</td>
      <td>{{artikal.vazenje}}</td>
      <td>{{artikal.partner.naziv}}</td>
      <td>{{artikal.partner.porezni_broj}}</td>
      <td>
      <a href="/media/{{artikal.file_ugovor}}">Pregledaj sadržaj ugovora</a></td>
      <td>{{artikal.tip}}</td>
      <td>{{artikal.sadrzaj_ugovora}}</td>
    </tr>
    {% endfor %}
  {% endif %}
 
    {% for artikal in page_obj %}
    <tr class="animated fadeIn">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{artikal.id}}</td>
      <td>{{artikal.datum_potpisivanja}}</td>
      <td>{{artikal.vazenje}}</td>
      <td>{{artikal.partner.naziv}}</td>
      <td>{{artikal.partner.porezni_broj}}</td>
      <td>
      <a href="/media/{{artikal.file_ugovor}}">Pregledaj sadržaj ugovora</a></td>
      <td>{{artikal.tip}}</td>
      <td>{{artikal.sadrzaj_ugovora}}</td>
    </tr>
{% endfor %}
  </tbody>

</table>
<nav class="d-flex justify-content-center fadeIn mt-5" style=" position:fixed; bottom:0; width: 100%; margin:0px;visibility: visible;">
        <ul class="pagination pg-blue">
          {% if page_obj.has_previous %}
          <!--Arrow left-->
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          <li class="page-item active">
            <span class="page-link">
              Stranica {{ page_obj.number }} od {{ page_obj.paginator.num_pages }}
            </span>

          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
     </div> 
      <!--Pagination-

<!-- <table id="tablePreview" class="table table-bordered" style=" position:fixed; bottom:0; width: 100%; margin:0px;">
<thead>
<tr>
      <th ><div style="display:flex; justify-content:center; align-items:center; flex-direction:column">0,000 KM dugovanja<button type="button" class="btn btn-primary">Lista dužnika</button></div></th>
      <th ><div style="display:flex; justify-content:center; align-items:center; flex-direction:column; line-height: 0.5;"><p>UKUPNO 0,000 KM</p><p>Osnovica: 0,000 KM</p><p>PDV: 0,000 KM</p></div></th>
</tr>
    </thead>
</table> -->


</body>
</html>
<style>

th
{
    border-collapse:collapse;
    border-spacing:0;
    text-align:center;
    vertical-align:middle;
}
.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}
thead
{
    background-color: #EDF3F5;
    
}
thead th
{
    height:100px;
    text-align: center;
}
thead #drugiRed th
{
    height:80px;
}
.btn
{
    border-radius:20px;
    width:180px;
    height:50px;
}
body
{
        height: 100vh;
}
*
{
    text-align: center;
}
</style>

{% endblock %}
