{% extends "home-page.html"%}
{% block content %}
<script>
$("#loadbasic").click(function(){   $("#result").html(ajax_load).load(loadUrl);
    });
</script>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark primary-color d-flex justify-content-center">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="Pocetna">Blagajna</a>

 

</nav>
<!--/.Navbar-->
<!--Table-->
<div class="animated slideInDown">
    {% if messages %}
    
    {% for message in messages %}
        <div class="alert alert-success" role="alert" style="margin-bottom:0px;     position: relative;
    width: 100%;
    z-index: 350;">{{message}}</div>
        
    {% endfor %}

{% endif %}
</div>
<table id="tablePreview" class="table table-bordered animated fadeIn" >
<!--Table head-->
  <thead >
  <tr>
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Redni broj</th>
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Šifra računa/ <br>izvještaja</th>
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Datum <br>obračuna</th>
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Blagajnik</th>
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Iznos <br> sa PDV</th>   
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Iznos <br> bez PDV</th> 
    <th rowspan="1" style="font-size: large; padding:0px; font-weight:400;">Status</th> 
  </tr>
  </thead>
  
  <tbody>
    {% if racuni %}
    {% for racun in racuni %}
    <tr style="text-align:center">
      <th scope="row" style="text-align:center;line-height: 60px;">{{ racun.id}}</th>
      <td style="text-align:center;line-height: 60px;">{{racun.sifra_racuna.id}}</td>
      <td style="text-align:center;line-height: 60px;">{{racun.datum_obracuna}}</td>
      <td style="text-align:center;line-height: 60px;">{{racun.blagajnik}}</td>
      <td style="text-align:center;line-height: 60px;">{{racun.iznosPDV}} KM</td>
      <td style="text-align:center;line-height: 60px;">{{racun.iznosBezPDV}} KM</td>
      <th ><div style="display:flex; justify-content:center; align-items:center; flex-direction:column"><button type="button" class="btn btn-primary">Proknjiženo</button></div></th>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>

</table>
<!-- Footer -->
<footer class=" font-small blue" style="position:fixed;bottom:0;width:100%" style="background-color:#4285F4;">

  <!-- Copyright -->
  <div class="footer-copyright text-right py-3 pr-5 animated slideInUp"><a href="unosblagajne"><button style="background-color: rgb(163, 183, 233);
    width: 225px;
    height: 40px;
    border: none;
    border-radius: 25px;
    color:white;"><i class="fas fa-plus-circle mr-2"></i>Unos poslovanja blagajne</button></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- <table id="tablePreview" class="table table-bordered" style=" position:fixed; bottom:0; width: 100%; margin:0px;">
<thead>
<tr>
      <th ><div style="display:flex; justify-content:center; align-items:center; flex-direction:column">0,000 KM dugovanja<button type="button" class="btn btn-primary">Lista dužnika</button></div></th>
      <th ><div style="display:flex; justify-content:center; align-items:center; flex-direction:column; line-height: 0.5;"><p>UKUPNO 0,000 KM</p><p>Osnovica: 0,000 KM</p><p>PDV: 0,000 KM</p></div></th>
</tr>
    </thead>
</table> -->


</body>
</html>
<style>

th
{
    border-collapse:collapse;
    border-spacing:0;
    text-align:center;
    vertical-align:middle;
}
.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}
thead
{
    background-color: #EDF3F5;
    
}
thead th
{
    height:100px;
    text-align: center;
}
thead #drugiRed th
{
    height:80px;
}
.btn
{
    border-radius:20px;
    width:180px;
    height:50px;
}
body
{
        height: 100vh;
}
*
{
    text-align: center;
}
</style>
 
{% endblock %}