<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/stilovi.css' %}">
    <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css'%}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js'%}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js'%}"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
  </script>
    <title>Document</title>
    
</head>
<script>
{% block jquery %}
var tip='line'
var endpoint = '/api/chart/data/'+ 2020
var defaultData = []
var labels = [];
$.ajax({
    async: "false",
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        defaultData2 = data.default2
        ulazni_sve = data.ulazni_sve
        console.log(ulazni_sve)
        
        //select(ulazni_sve)
        setChart(2020, labels, defaultData, tip)
        
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(value, labels, defaultData, tip1){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
    type: tip1,
    data: {
        labels: labels,
        datasets: [{
            label: 'Prihodi za ' + value + ' godinu',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.3)',
                'rgba(54, 162, 235, 0.3)',
                'rgba(255, 206, 86, 0.3)',
                'rgba(75, 192, 192, 0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(255, 159, 64, 0.3)'
            ],
            borderColor: [
                'rgba(255,55,255,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        
        
        },
        {
            label: 'Rashodi za ' + value + ' godinu',
            data: defaultData2,
            backgroundColor: [
                'rgba(15, 99, 132, 0.3)',
                'rgba(54, 162, 235,0.3)',
                'rgba(255, 206, 86, 0.3)',
                'rgba(75, 192, 192, 0.3)',
                'rgba(153, 102, 255,0.3)',
                'rgba(255, 159, 64, 0.3)'
            ],
            borderColor: [
                'rgba(255,55,255,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        
        
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

    var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.3)',
                'rgba(54, 162, 235, 0.3)',
                'rgba(255, 206, 86, 0.3)',
                'rgba(75, 192, 192,0.3)',
                'rgba(153, 102, 255, 0.3)',
                'rgba(255, 159, 64, 0.3)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
//document.url="Pocetna"
}
function uniq_fast(a) {
    var seen = {};
    var out = [];
    var len = a.length;
    var j = 0;
    for(var i = 0; i < len; i++) {
         var item = a[i];
         if(seen[item] !== 1) {
               seen[item] = 1;
               out[j++] = item;
         }
    }
    return out;
}
// var ctx = document.getElementById("myChart");
{% comment %} function select(value_ulazni)
{
    var sele=document.getElementById('select')
    console.log("sddsf" + value_ulazni)
    value_ulazni=uniq_fast(value_ulazni)
    for (var i=0;i<value_ulazni.length;i++)
    {
        console.log(value_ulazni[i])
    }
    for (var i=0;i<value_ulazni.length;i++)
    {
        var node1=document.createElement('option')
        var text=document.createTextNode(""+value_ulazni[i])
        node1.appendChild(text)
        node1.setAttribute("onselect","funkcija()")
        node1.setAttribute("value",""+value_ulazni[i])
        sele.appendChild(node1)
    }
} {% endcomment %}
var vrijednost
function funkcija(value)
{
    vrijednost=value
    console.log(value)
    var endpoint = '/api/chart/data/'+ value
    var defaultData = []
    var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        defaultData2 = data.default2
        ulazni_sve = data.ulazni_sve
        setChart(vrijednost, labels, defaultData, tip)
        
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
}
function funkcija_tip_charta(value1)
{
    tip=value1;
   /* $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        defaultData2 = data.default2
        ulazni_sve = data.ulazni_sve
        setChart(vrijednost, labels, defaultData, tip)
        
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
    */
var temp = jQuery.extend(true, {}, data);
temp.type = value1; // The new chart type
myChart = new Chart(ctx, temp);
}
{% endblock %}
</script>
<script>
function funkcija(button, drop)
{
   $(drop).slideToggle();
  if($(button).css('background-color')=='#F0F0F0')
         $(button).css('background-color', '#4285F4');
   else {
         $(button).css('background-color', '#F0F0F0');
   }
}
</script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark primary-color pb-2 pt-2 ">
<ul class="navbar-nav mr-auto" >
    <li> <a class="navbar-brand" href="#" id="naslov" style="font-size: 25px; padding:0px; font-weight:300;">Dashboard</a></li></li>
        </ul>
         <ul class="navbar-nav nav-flex-icons">
      <!-- Basic dropdown -->
   <li class="navbar-brand" style="display: flex;
  justify-content: center;
  align-items: center;">   
   <a href="accounts/logout/" style="color:white;"> Log out</a>  <i class="fas fa-cog ml-1"></i> 
  </li>  
    </nav>
    
<div class="cijeli" id="cijeli1">

 {% comment %} <nav class="navbar navbar-expand-lg navbar-dark primary-color pb-2 pt-2 ">
  <div class="prvaTraka">
    <div class="odjava"><i class="fas fa-cog"></i><p class="logout">Log out</p></div>
    </div>
  </nav> {% endcomment %}
  <div class="sadrzaj" style="height:1000px;">
    <div class="navbar12">
    <select id="pozadina" class="browser-default custom-select" onChange="Promijeni(this.value)" style="background-color:rgba(255,255,255,0.1);border:0px;">
    <option selected>Odaberi pozadisnku temu</option>
    <option value="0">Prva</option>
    <option value="1">Druga</option>
    <option value="2">Treca</option>
    </select>
      <div class="lijevi" style="width:80%;">
      
          <a href="User"><img src="/media/{{user.photo}}" alt="" class="user" style="width:100px;height:100px;"></a>
          <div class="mt-4"><h3 class="name ml-2" style="line-height:1.5;" >{{user.first_name}} {{user.last_name}}<br>Zadnja prijava:<br> {{user.last_login}}<br></h3></div>
          
      </div>
      
          <div class="menu">
          
        <div class="dropdown"><button class="dropbtn"><i class="fas fa-home "></i>Home</button></div>
        <div>
          <div class="dropdown">
            <button class="dropbtn mr-4" type="button"
 id="button" onclick="funkcija(button,drop)"><i class="fas fa-book-open"></i>Glavna knjiga</button>
            
            <div class="dropdown-menu" id="drop" style="width:93%;position:relative;">
              
              <a href="Ulazni" class="dropdown-item">Ulazni računi</a>
              <a href="Izlazni" class="dropdown-item">Izlazni računi</a>
              <a href="KreirajRacun" class="dropdown-item">Kreiranje računa</a>
              <a href="#" class="dropdown-item">Blagajna</a>
              <a href="#" class="dropdown-item">Konto</a>
            </div>
            </div>
          </div>
          <div class="dropdown"><button class="dropbtn mr-4" type="button"
 id="button"><i class="far fa-money-bill-alt"></i>Transakcije</button></div>
          <div class="dropdown">
            <button class="dropbtn mr-4" type="button"
 id="button1" onclick="funkcija(button1,drop1)"><i class="fas fa-shopping-cart"></i>Asortiman<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-menu" id="drop1" style="width:93%;position:relative;top:0%;">
              <a href="#" class="dropdown-item">Artikli</a>
              <a href="#" class="dropdown-item">Usluge</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn mr-4" type="button"
 id="button2" onclick="funkcija(button2,drop2)"><i class="fas fa-users"></i>Partneri<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-menu" id="drop2" style="width:93%;position:relative;top:0%;">
              <a href="#" class="dropdown-item">Partneri</a>
              <a href="#" class="dropdown-item">Ugovori</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn mr-4" type="button"
 id="button3" onclick="funkcija(button3,drop3)"><i class="fas fa-chart-bar"></i>Izvještaji<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-menu" id="drop3" style="width:93%;position:relative;top:0%;">
              <a href="#" class="dropdown-item">Bilans</a>
              <a href="#" class="dropdown-item">Dnevni izvještaj</a>
              <a href="#" class="dropdown-item">Mjesečni izvještaj</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn mr-4" type="button"
 id="button4"  onclick="funkcija(button4,drop4)"><i class="fas fa-shopping-basket"></i>Nabavke<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-menu" id="drop4" style="width:93%;position:relative;top:0%;">
              <a href="#" class="dropdown-item">Nabavke</a>
              <a href="#" class="dropdown-item">Ponude</a>
              <a href="#" class="dropdown-item">Avansi</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn mr-4" type="button"
 id="button5"  onclick="funkcija(button5,drop5)"><i class="fas fa-clipboard-list"></i>Projekti<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-menu" id="drop5" style="width:93%;position:relative;top:0%;">
              <a href="#" class="dropdown-item">Projekti</a>
              <a href="#" class="dropdown-item">Tenderi</a>
            </div>
          </div>
          </div>
            {% comment %} <div class="informacije">
              <p>Naziv firme<br>Adresa<br>Porezni broj:00000</p>
          </div> {% endcomment %}
        </div>
        <div class="desni" >
          <div class="tim" style="margin-bottom:-30px;"><div class="dobrodosli">Welcome to</div><img src="{% static 'img/loginlogo.png' %}" class="logo mt-2"></div>
            <div class="dugmad">
              <div class="container my-5 py-5">


  <!-- Section: Block Content -->
  <section class="">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 ">

        <!-- Admin card -->
        <div class="card mt-3">

          <div class="">
            <div class="far fa-lg primary-color z-depth-2 p-2 ml-3 mt-n3 rounded text-white"><img src="{% static 'img/slika.png' %}" style="height: 50px; width:50px"></div>
            <div class="float-right text-right p-3">
              <small>Budzet</small>
              <p class="text-uppercase text-muted mb-1"></p>
              <h4 class="font-weight-bold mb-0">23 000KM</h4>
            </div>
          </div>

          <div class="card-body pt-0">
            <div class="progress md-progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="5" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <p class="card-text">Stanje je zadovoljavajuće </p>
          </div>

        </div>
        <!-- Admin card -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Admin card -->
        <div class="card mt-3">

          <div class="">
           <div class="far fa-lg primary-color z-depth-2 p-3 ml-3 mt-n3 rounded text-white"><img src="{% static 'img/3.png' %}" style="height: 40px; width:40px"></div>
            <div class="float-right text-right p-3">
            <small>Nabavke:</small>
              <p class="text-uppercase text-muted mb-1"></p>
              <h4 class="font-weight-bold mb-0">3534 KM</h4>
            </div>
          </div>

          <div class="card-body pt-0">
            <div class="progress md-progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 46%" aria-valuenow="46" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <p class="card-text">Worse than last week (46%)</p>
          </div>

        </div>
        <!-- Admin card -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Admin card -->
        <div class="card mt-3">

          <div class="">
            <div class="far fa-lg primary-color z-depth-2 p-2 ml-3 mt-n3 rounded text-white" style="height: 70px; width:70px;"><img class="ml-1"src="{% static 'img/2.png' %}" style="height: 50px; width:40px;"></div>
            <div class="float-right text-right p-3">
            <small>Prodaje</small>
              <p class="text-uppercase text-muted mb-1"></p>
              <h4 class="font-weight-bold mb-0">6564 KM</h4>
            </div>
          </div>

          <div class="card-body pt-0">
            <div class="progress md-progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 31%" aria-valuenow="31" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <p class="card-text">Better than last week (31%)</p>
          </div>

        </div>
        <!-- Admin card -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Content-->


</div>

            </div>
              <div class="grafik-obavijesti" style="margin-top:-100px;">
                <div class="dugme-grafik">
                  <select class="browser-default custom-select col-4 animated fadeIn mr-2">
  <option selected>Odaberite godinu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
                  <select class="browser-default custom-select  col-4 animated fadeIn" onChange="funkcija_tip_charta(this.value)">
  <option selected>Odaberite tip grafa</option>
  <option value="1" class="animated fadeIn">One</option>
  <option value="2"class="animated fadeIn">Two</option>
  <option value="3"class="animated fadeIn">Three</option>
</select>
                </div>
                <div class="desni-ugao">
                <div class="grafika mt-5 mr-5 z-depth-5">
                <div class='row'>
    <div>
        <div >
            <canvas id="myChart2" width="500" height="350" class="ml-3"></canvas>
        </div>


    </div>
</div>

                </div>
                <div class="profili ml-5">
                <div class="obavijesti">
                  <button><img src="{% static 'img/zvono.png' %}" class="zvono">Pregledaj obavijesti</button>
                </div>
                <div class="profil">
                  <a href="User"><button><img src="https://cdn.pixabay.com/photo/2017/02/23/13/05/profile-2092113_960_720.png" class="korisnik">Pregledaj profil</button></a>
                </div>
              </div>
              </div>
              </div>
            </div>
      </div>
      
    </div>
    
    <div class="drugaTraka">
        Sva prva zadržana &copy TIM05
      </div>

</body>

</html>
<script>
function Promijeni(value)
{
  pozadine = ["url('https://mdbootstrap.com/img/Photos/Others/gradient2.png')","url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg')","url('https://mdbootstrap.com/img/Photos/Others/background.jpg')"]
  
  $('#cijeli1').css('backgroundImage', pozadine[value]);

  
}
</script>