{% extends "home-page.html"%}
{% load countries %}
{% get_countries as countries %}
{% block content%}
<div style="display: flex;justify-content: center;">
<form class="border border-light p-5 col-5 mt-5" action="NewBill" method='POST' id="forma" enctype="multipart/form-data">
 
<div id="forma1">
    {% csrf_token %}
    
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="text" placeholder="Naziv partnera" name="naziv_partner">
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="int" placeholder="Šifra partnera" name="sifra_partner">
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="email" placeholder="Mail partnera" name="mail_partner">
    <!-- Default unchecked -->
<div class="custom-control custom-radio" >
  <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" onclick="stvori()">
  <label class="custom-control-label" for="defaultUnchecked" >S ugovorom</label>
</div>

<!-- Default checked -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked onclick="brisi()">
  <label class="custom-control-label" for="defaultChecked">Bez ugovora</label>
</div>
<div id="ugovor-info" class="mt-5" style="display:none;">
<input class="form-control mb-4" id="defaultLoginFormPassword" type="textfield" placeholder="Kratak opis" name="ugovor_sadrzaj">
  <input class="form-control mb-4" id="defaultLoginFormPassword" type="date" placeholder="Naziv artikla" name="ugovor_datum_potpis">
   <input class="form-control mb-4" id="defaultLoginFormPassword" type="date" placeholder="Naziv artikla" name="ugovor_datum_vazenje">
</div>
<div class="input-group mt-5" id ="file_input" style="display:none;">

  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01" name="file1">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
<label id="ins" >
<select class="browser-default custom-select mb-5 mt-4" name="drzava" required="" id="id_drzava">
  <option value="" selected="">(Izaberite državu)</option>

  <option value="AF">Afghanistan</option>

  <option value="AX">Åland Islands</option>

  <option value="AL">Albania</option>

  <option value="DZ">Algeria</option>

  <option value="AS">American Samoa</option>

  <option value="AD">Andorra</option>

  <option value="AO">Angola</option>

  <option value="AI">Anguilla</option>

  <option value="AQ">Antarctica</option>

  <option value="AG">Antigua and Barbuda</option>

  <option value="AR">Argentina</option>

  <option value="AM">Armenia</option>

  <option value="AW">Aruba</option>

  <option value="AU">Australia</option>

  <option value="AT">Austria</option>

  <option value="AZ">Azerbaijan</option>

  <option value="BS">Bahamas</option>

  <option value="BH">Bahrain</option>

  <option value="BD">Bangladesh</option>

  <option value="BB">Barbados</option>

  <option value="BY">Belarus</option>

  <option value="BE">Belgium</option>

  <option value="BZ">Belize</option>

  <option value="BJ">Benin</option>

  <option value="BM">Bermuda</option>

  <option value="BT">Bhutan</option>

  <option value="BO">Bolivia</option>

  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>

  <option value="BA">Bosnia and Herzegovina</option>

  <option value="BW">Botswana</option>

  <option value="BV">Bouvet Island</option>

  <option value="BR">Brazil</option>

  <option value="IO">British Indian Ocean Territory</option>

  <option value="BN">Brunei</option>

  <option value="BG">Bulgaria</option>

  <option value="BF">Burkina Faso</option>

  <option value="BI">Burundi</option>

  <option value="CV">Cabo Verde</option>

  <option value="KH">Cambodia</option>

  <option value="CM">Cameroon</option>

  <option value="CA">Canada</option>

  <option value="KY">Cayman Islands</option>

  <option value="CF">Central African Republic</option>

  <option value="TD">Chad</option>

  <option value="CL">Chile</option>

  <option value="CN">China</option>

  <option value="CX">Christmas Island</option>

  <option value="CC">Cocos (Keeling) Islands</option>

  <option value="CO">Colombia</option>

  <option value="KM">Comoros</option>

  <option value="CG">Congo</option>

  <option value="CD">Congo (the Democratic Republic of the)</option>

  <option value="CK">Cook Islands</option>

  <option value="CR">Costa Rica</option>

  <option value="CI">Côte d'Ivoire</option>

  <option value="HR">Croatia</option>

  <option value="CU">Cuba</option>

  <option value="CW">Curaçao</option>

  <option value="CY">Cyprus</option>

  <option value="CZ">Czechia</option>

  <option value="DK">Denmark</option>

  <option value="DJ">Djibouti</option>

  <option value="DM">Dominica</option>

  <option value="DO">Dominican Republic</option>

  <option value="EC">Ecuador</option>

  <option value="EG">Egypt</option>

  <option value="SV">El Salvador</option>

  <option value="GQ">Equatorial Guinea</option>

  <option value="ER">Eritrea</option>

  <option value="EE">Estonia</option>

  <option value="SZ">Eswatini</option>

  <option value="ET">Ethiopia</option>

  <option value="FK">Falkland Islands  [Malvinas]</option>

  <option value="FO">Faroe Islands</option>

  <option value="FJ">Fiji</option>

  <option value="FI">Finland</option>

  <option value="FR">France</option>

  <option value="GF">French Guiana</option>

  <option value="PF">French Polynesia</option>

  <option value="TF">French Southern Territories</option>

  <option value="GA">Gabon</option>

  <option value="GM">Gambia</option>

  <option value="GE">Georgia</option>

  <option value="DE">Germany</option>

  <option value="GH">Ghana</option>

  <option value="GI">Gibraltar</option>

  <option value="GR">Greece</option>

  <option value="GL">Greenland</option>

  <option value="GD">Grenada</option>

  <option value="GP">Guadeloupe</option>

  <option value="GU">Guam</option>

  <option value="GT">Guatemala</option>

  <option value="GG">Guernsey</option>

  <option value="GN">Guinea</option>

  <option value="GW">Guinea-Bissau</option>

  <option value="GY">Guyana</option>

  <option value="HT">Haiti</option>

  <option value="HM">Heard Island and McDonald Islands</option>

  <option value="VA">Holy See</option>

  <option value="HN">Honduras</option>

  <option value="HK">Hong Kong</option>

  <option value="HU">Hungary</option>

  <option value="IS">Iceland</option>

  <option value="IN">India</option>

  <option value="ID">Indonesia</option>

  <option value="IR">Iran</option>

  <option value="IQ">Iraq</option>

  <option value="IE">Ireland</option>

  <option value="IM">Isle of Man</option>

  <option value="IL">Israel</option>

  <option value="IT">Italy</option>

  <option value="JM">Jamaica</option>

  <option value="JP">Japan</option>

  <option value="JE">Jersey</option>

  <option value="JO">Jordan</option>

  <option value="KZ">Kazakhstan</option>

  <option value="KE">Kenya</option>

  <option value="KI">Kiribati</option>

  <option value="KW">Kuwait</option>

  <option value="KG">Kyrgyzstan</option>

  <option value="LA">Laos</option>

  <option value="LV">Latvia</option>

  <option value="LB">Lebanon</option>

  <option value="LS">Lesotho</option>

  <option value="LR">Liberia</option>

  <option value="LY">Libya</option>

  <option value="LI">Liechtenstein</option>

  <option value="LT">Lithuania</option>

  <option value="LU">Luxembourg</option>

  <option value="MO">Macao</option>

  <option value="MK">Macedonia</option>

  <option value="MG">Madagascar</option>

  <option value="MW">Malawi</option>

  <option value="MY">Malaysia</option>

  <option value="MV">Maldives</option>

  <option value="ML">Mali</option>

  <option value="MT">Malta</option>

  <option value="MH">Marshall Islands</option>

  <option value="MQ">Martinique</option>

  <option value="MR">Mauritania</option>

  <option value="MU">Mauritius</option>

  <option value="YT">Mayotte</option>

  <option value="MX">Mexico</option>

  <option value="FM">Micronesia (Federated States of)</option>

  <option value="MD">Moldova</option>

  <option value="MC">Monaco</option>

  <option value="MN">Mongolia</option>

  <option value="ME">Montenegro</option>

  <option value="MS">Montserrat</option>

  <option value="MA">Morocco</option>

  <option value="MZ">Mozambique</option>

  <option value="MM">Myanmar</option>

  <option value="NA">Namibia</option>

  <option value="NR">Nauru</option>

  <option value="NP">Nepal</option>

  <option value="NL">Netherlands</option>

  <option value="NC">New Caledonia</option>

  <option value="NZ">New Zealand</option>

  <option value="NI">Nicaragua</option>

  <option value="NE">Niger</option>

  <option value="NG">Nigeria</option>

  <option value="NU">Niue</option>

  <option value="NF">Norfolk Island</option>

  <option value="KP">North Korea</option>

  <option value="MP">Northern Mariana Islands</option>

  <option value="NO">Norway</option>

  <option value="OM">Oman</option>

  <option value="PK">Pakistan</option>

  <option value="PW">Palau</option>

  <option value="PS">Palestine, State of</option>

  <option value="PA">Panama</option>

  <option value="PG">Papua New Guinea</option>

  <option value="PY">Paraguay</option>

  <option value="PE">Peru</option>

  <option value="PH">Philippines</option>

  <option value="PN">Pitcairn</option>

  <option value="PL">Poland</option>

  <option value="PT">Portugal</option>

  <option value="PR">Puerto Rico</option>

  <option value="QA">Qatar</option>

  <option value="RE">Réunion</option>

  <option value="RO">Romania</option>

  <option value="RU">Russia</option>

  <option value="RW">Rwanda</option>

  <option value="BL">Saint Barthélemy</option>

  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>

  <option value="KN">Saint Kitts and Nevis</option>

  <option value="LC">Saint Lucia</option>

  <option value="MF">Saint Martin (French part)</option>

  <option value="PM">Saint Pierre and Miquelon</option>

  <option value="VC">Saint Vincent and the Grenadines</option>

  <option value="WS">Samoa</option>

  <option value="SM">San Marino</option>

  <option value="ST">Sao Tome and Principe</option>

  <option value="SA">Saudi Arabia</option>

  <option value="SN">Senegal</option>

  <option value="RS">Serbia</option>

  <option value="SC">Seychelles</option>

  <option value="SL">Sierra Leone</option>

  <option value="SG">Singapore</option>

  <option value="SX">Sint Maarten (Dutch part)</option>

  <option value="SK">Slovakia</option>

  <option value="SI">Slovenia</option>

  <option value="SB">Solomon Islands</option>

  <option value="SO">Somalia</option>

  <option value="ZA">South Africa</option>

  <option value="GS">South Georgia and the South Sandwich Islands</option>

  <option value="KR">South Korea</option>

  <option value="SS">South Sudan</option>

  <option value="ES">Spain</option>

  <option value="LK">Sri Lanka</option>

  <option value="SD">Sudan</option>

  <option value="SR">Suriname</option>

  <option value="SJ">Svalbard and Jan Mayen</option>

  <option value="SE">Sweden</option>

  <option value="CH">Switzerland</option>

  <option value="SY">Syria</option>

  <option value="TW">Taiwan</option>

  <option value="TJ">Tajikistan</option>

  <option value="TZ">Tanzania</option>

  <option value="TH">Thailand</option>

  <option value="TL">Timor-Leste</option>

  <option value="TG">Togo</option>

  <option value="TK">Tokelau</option>

  <option value="TO">Tonga</option>

  <option value="TT">Trinidad and Tobago</option>

  <option value="TN">Tunisia</option>

  <option value="TR">Turkey</option>

  <option value="TM">Turkmenistan</option>

  <option value="TC">Turks and Caicos Islands</option>

  <option value="TV">Tuvalu</option>

  <option value="UG">Uganda</option>

  <option value="UA">Ukraine</option>

  <option value="AE">United Arab Emirates</option>

  <option value="GB">United Kingdom</option>

  <option value="UM">United States Minor Outlying Islands</option>

  <option value="US">United States of America</option>

  <option value="UY">Uruguay</option>

  <option value="UZ">Uzbekistan</option>

  <option value="VU">Vanuatu</option>

  <option value="VE">Venezuela</option>

  <option value="VN">Vietnam</option>

  <option value="VG">Virgin Islands (British)</option>

  <option value="VI">Virgin Islands (U.S.)</option>

  <option value="WF">Wallis and Futuna</option>

  <option value="EH">Western Sahara</option>

  <option value="YE">Yemen</option>

  <option value="ZM">Zambia</option>

  <option value="ZW">Zimbabwe</option>

</select>
</label>
<input class="form-control mb-4" id="defaultLoginFormPassword" type="text" placeholder="Adresa partnera" name="adresa_partner">
<input class="form-control mb-4" id="defaultLoginFormPassword" type="date" placeholder="Naziv artikla" name="datum">
<input class="form-control mb-4" id="defaultLoginFormPassword" type="date" placeholder="Rok otplate" name="datum_rok">

<select class="browser-default custom-select mb-5"
    name="selekcija">
    
    <option selected >Odaberi tip računa...</option>
    <option >Ulazni</option>
    <option >Izlazni</option>
</select>

    </select>
    
    <div id="artikli" >
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="text" placeholder="Naziv artikla" name="naziv_artikal">
    <select class="browser-default custom-select mb-5"
    name="kategorija">
    
    <option selected >Odaberite kateogriju</option>
    <option >Artikal</option>
    <option >Usluga</option>
</select>
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="number" placeholder="Količina" name="kolicina_artikal">
    <input type="number" step="0.01" class="form-control mb-4" placeholder="Cijena" name="cijena_artikal">
    <div class="form-control mb-4" style="display:flex; flex-wrap:none; align-items:center; border:0px solid grey;"><input max="100" accuracy="2" min="0" class="form-control" id="defaultLoginFormPassword" type="number" placeholder="Popust" name="popust_artikal" style="text-align:left; width:100%"><span id="percent-sign">%</span></div>

    <textarea id="textarea" class="form-control mb-4" placeholder="Opis" name="opis_artikal"></textarea>
    <hr>
    </div>
    <div id="usluga" >
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="text" placeholder="Naziv usluga" name="naziv_usluga">
    <input class="form-control mb-4" id="defaultLoginFormPassword" type="number" placeholder="Sati" name="sati_usluga">
    
    <input type="number" step="0.01" class="form-control mb-4" placeholder="Cijena" name="cijena_usluga">
    <div class="form-control mb-4" style="display:flex; flex-wrap:none; align-items:center; border:0px solid grey;"><input max="100" accuracy="2" min="0" class="form-control" id="defaultLoginFormPassword" type="number" placeholder="Popust" name="popust_usluga" style="text-align:left; width:100%"><span id="percent-sign">%</span></div>

    <textarea id="textarea" class="form-control mb-4" placeholder="Opis" name="opis_usluga"></textarea>
    <hr>
    </div>
    </div>

    
    <button class="btn btn-info btn-block my-4" type="submit" id="kreiraj" >Kreiraj!</button>

   
</form>

</div>
<button class="btn btn-info btn-block my-4" onclick="Dodaj()">Dodaj artikal!</button>
<button class="btn btn-info btn-block my-4" onclick="DodajUsluga()">Dodaj uslugu!</button>
<script>
function Dodaj()
{
  var itm = document.getElementById("artikli")
  var cln = itm.cloneNode(true);
  document.getElementById("forma1").appendChild(cln);
}
{% comment %} function Dodaj()
{
  <select class="browser-default custom-select mb-5"
    name="kategorija">
    
    <option selected >Odaberite kateogriju</option>
    <option >Artikal</option>
    <option >Usluga</option>
</select>
    var dugme0= document.createElement("select");
    dugme0.setAttribute("class","browser-default custom-select mb-5");
    dugme0.setAttribute("name","kategorija");
    var dug12= document.createElement("option");
    var teks = document.createTextNode("Artikal")
    dug12.appendChild(teks)
    var dug13= document.createElement("option");
    var teks1 = document.createTextNode("Artikal");
    dug13.appendChild(teks1)
    dugme0.appendChild(dug13)
    dugme0.appendChild(dug13)
    var dugme1= document.createElement("input");
    dugme1.setAttribute("id","defaultLoginFormPassword");
    dugme1.setAttribute("class","form-control mb-4");
    dugme1.setAttribute("type","text");
    dugme1.setAttribute("placeholder","Naziv artikla");
    dugme1.setAttribute("name","naziv_artikal");
    var dugme2= document.createElement("input");
    dugme2.setAttribute("id","defaultLoginFormPassword");
    dugme2.setAttribute("class","form-control mb-4");
    dugme2.setAttribute("type","number");
    dugme2.setAttribute("placeholder","kolicina");
    dugme2.setAttribute("name","kolicina_artikal");
    var dugme3= document.createElement("input");
    dugme3.setAttribute("id","defaultLoginFormPassword");
    dugme3.setAttribute("class","form-control mb-4");
    dugme3.setAttribute("type","number");
    dugme3.setAttribute("placeholder","Cijena");
    dugme3.setAttribute("name","cijena_artikal");
    var dugme4= document.createElement("textarea");
    dugme4.setAttribute("id","textarea");
    dugme4.setAttribute("class","form-control mb-4");
    dugme4.setAttribute("placeholder","Opis");
    dugme4.setAttribute("name","opis_artikal");
    var dugme5= document.createElement("hr");
    document.getElementById("artikli").appendChild(dugme1)
    document.getElementById("artikli").appendChild(dugme2)
    document.getElementById("artikli").appendChild(dugme3)
    document.getElementById("artikli").appendChild(dugme4)
    document.getElementById("artikli").appendChild(dugme5)
} {% endcomment %}
function DodajUsluga()
{
    var itm = document.getElementById("usluga")
  var cln = itm.cloneNode(true);
  document.getElementById("forma1").appendChild(cln);
}
function stvori()
{   
    document.getElementById("file_input").style.display="flex";
    document.getElementById("ugovor-info").style.display="flex";
     //var dugme61= document.createElement("div");
       // dugme61.setAttribute("class","file-upload-wrapper");
       // dugme61.setAttribute("id","file12");
   //  var dugme6= document.createElement("input");
    //    dugme6.setAttribute("class","file-upload");
     //   dugme6.setAttribute("type","file");
    //    dugme6.setAttribute("name","document");
    //    dugme6.setAttribute("id","input-file-now");
    //    dugme61.appendChild(dugme6);
    //    document.getElementById("forma").insertBefore(dugme61, document.getElementById('ins'))

}
function brisi()
{
    document.getElementById("file_input").style.display="none";
     document.getElementById("ugovor-info").style.display="none";
    //var element = document.getElementById('file12');
    //        element.parentNode.removeChild(element);
}
</script>
<style>
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
 #percent-sign {
        top: 8px;
        left: 45px;
        color: #555;
        position: absolute;
        z-index: 1;
    }
</style>
{% endblock %}