{% extends "home-page.html"%}


{% block content%}
<!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect"  target="_self">
        <strong class="blue-text">Artikli</strong>
      </a>
  <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href='/'>
              <span class="clearfix d-none d-sm-inline-block"> </span>
            </a>
          </li>
          </ul>
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

       

      </div>

    </div>
    
  </nav>

  <!-- Navbar -->
<div class="table-responsive" style="margin-top: 80px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Šifra</th>
         <th scope="col">Naziv</th>
        <th scope="col">Cijena bez pdv-a</th>
         <th scope="col">Cijena sa pdv-om</th>
         <th scope="col">Popust</th>
         <th scope="col">Količina</th>
          <th scope="col">Opis</th>
          <th scope="col">Ukupno</th>
      </tr>
    </thead>
    <tbody>
    {% for racun in racuni %}

     <a><tr>
        <th scope="row">Asortiman br.{{forloop.counter}}</th>
        <td>{{racun.id}}</td>
        <td>{{racun.naziv}}</td>
        <td>{{racun.cijena_bez_pdv}}</td>
        <td>{{racun.cijena_s_pd}}</td>
        <td>{{racun.popust}}%</td>
        <td>{{racun.kolicina}}</td>
        <td>{{racun.opis}}</td>
        <td>{{racun.cijena_s_pd}} KM</td>
       {% comment %} <td><a ><i class="fas fa-minus mr-3"></i></a>{{racun.datum}}<a><i class="fas fa-plus ml-3"></i></a></td>
       <td>{{racun.tip}} KM <a ><i class="fas fa-trash-alt ml-3"></i></a></td> {% endcomment %}
        </tr>
        </a>
    {% endfor %}

     
      <td ><a href="NewRacun" class="btn btn-primary "> Napravi novi račun </a>
      
    
    </tbody>
  </table>
  
</div>
<div style="margin-top=50px;">
    {% if messages %}
    
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{message}}</div>
    {% endfor %}
    
{% endif %}
</div>
{% endblock %}