{% extends "home-page.html"%} {% block content %}
<script>
  $("#loadbasic").click(function () {
    $("#result").html(ajax_load).load(loadUrl);
  });
</script>
<div class="container">
  <form
    class="border border-light p-5"
    method="post"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <p class="h4 mb-4 text-center">Unos avansa</p>

    <label for="defaultLoginFormEmail">Unesi iznos avansa</label>
    <input
      type="text"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      name="iznos"
      placeholder="Naziv tendera"
    />
    <label for="defaultLoginFormEmail ">Unesite datum isteka avansa</label>
    <input
      type="date"
      name="datumIsteka"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
    />
    <label for="defaultLoginFormEmail">Izaberite partnera</label>
    <select
      id="partneri"
      name="partner"
      class="browser-default custom-select mb-4"
    >
      <option>Izaberite partnera</option>
      {% if partneri %} {% for partner in partneri %}
      <option value="{{partner.id}}">{{partner.naziv}}</option>
    </select>
    {% endfor %} {% endif %}

    <label for="defaultLoginFormEmail">Unesite napomenu</label>
    <input
      type="textarea"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      name="napomena"
      placeholder="Unesite napomenu"
    />

    <!-- <label for="defaultLoginFormEmail">Izaberite partnera</label>
    <select
      id="partneri"
      name="partner"
      class="browser-default custom-select mb-4"
    >
      <option>Izaberite partnera</option>
      {% if partneri %} {% for partner in partneri %}
      <option value="{{partner.id}}">{{partner.naziv}}</option>
    </select>
    {% endfor %} {% endif %} -->

    <button class="btn btn-info btn-block my-4" type="submit">
      Unesi avans
    </button>
  </form>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
  }
</style>

{% endblock %}
